<div style="width:700px;">
<table width="170" border="0" align="right" cellpadding="0" cellspacing="0">

          <tr> 
            <td align="right"><div align="right"> 
                <p><%= image_tag "milarsky.jpg", :width => "200", :height => "299" %><br>
                  <strong>JEFFREY MILARSKY</strong><br>
                Music Director &amp; Conducto<strong>r</strong></p>
              </div></td>
            <td align="right">&nbsp; &nbsp; &nbsp;</td>

          </tr>
        </table>

        <p><strong>Jeffrey Milarsky</strong> is the leading  conductor of contemporary music in New York City.&nbsp; In the United States and abroad, he has  premiered and recorded works by contemporary composers, including Charles  Wuorinen, Fred Lerdahl, Milton Babbitt, Elliott Carter, Lasse Thoresen, Gerard  Grisey, Jonathan Dawe, Tristan Murail, Ralph Shapey, Luigi Nono, Mario  Davidovsky and Wolfgang Rihm.&nbsp; His wide  ranging repertoire, which spans from Bach to Xenakis, has brought him to lead  such accomplished groups as the American Composers Orchestra, the New York New  Music Ensemble, the Chamber Music Society of Lincoln Center, Columbia  Sinfonietta, Speculum Musicae, Cygnus Ensemble, The Fromm Players at Harvard  University, The Composers&rsquo; Ensemble at Princeton University, and the New York  Philharmonic chamber music series. Most recently, he has joined the faculty of  The Manhattan School of Music as Artistic Director and Conductor of the  Percussion Ensemble.&nbsp; In addition, he has  been a regular guest conductor of the  Stonybrook University Orchestra.&nbsp; <br>

          <br>
  A  much-in-demand percussionist who has performed and recorded with the New York  Philharmonic among many ensembles, Mr. Milarsky is Professor in Music at  Columbia University, where he is the Music Director/Conductor of the Columbia  University Orchestra.&nbsp; Also at Columbia   University, Mr. Milarsky is Music  Director and Conductor of the Manhattan Sinfonietta in residence at Columbia   University, which will concentrate on 20th and  21st century scores.&nbsp; This ensemble, one of the United States&rsquo;  finest instrumental groups, will perform, tour and record throughout the United  States.<br>
  <br>
  In May of  2006 Mr. Milarsky substituted for James Levine at Carnegie Hall, conducting an  all Milton Babbitt concert of his chamber music.&nbsp; In August of 2004, he made his debut with the  Bergen Philharmonic Orchestra in Norway, conducting Ravel and Liebermann.&nbsp; Winter and Spring 2007 will also see  conducting dates in Norway, Italy, Paris and Austria, with the Milwaukee  Symphony, as well as his debut at Carnegie Hall with the American Composers  Orchestra.&nbsp; Mr. Milarsky has recently  performed at IRCAM in Paris, conducting and recording compositions  by Joshua  Fineberg and Tristan Murail. In  addition, Mr. Milarsky was named the Principal  Timpanist for the Santa Fe Opera beginning the  summer of 2005.&nbsp; This season he will work  with James Levine and Pierre Boulez preparing the Juilliard Orchestra for  programs that will include music of Ives, Carter, Boulez and Varese.&nbsp; <br>

  <br>
  Mr. Milarsky  made his Parisian debut, conducting the BIT20 Ensemble at the Olivier Messiaen  Hall at Radio France,  in a performance of the prize winning score of Lasse Thoresen&rsquo;s <em>Lop, Lokk Og Linjar</em>.&nbsp; Mr. Milarsky is the regular guest conductor  of The BIT20 Ensemble, having performed with them around the globe, including  Paris, Estonia, Latvia, Norway and Italy.&nbsp;  Other recent highlights include conducting the Cygnus Ensemble in the  world premiere of Milton Babbitt&rsquo;s <em>Swansong</em>,  conducting the world premiere and recording Mario Davidovsky&rsquo;s <em>Flashbacks</em>, and several area premieres  of the music of Gerard Grisey: <em>Les  Espaces Acoustiques</em> (New York premiere) for Columbia University&rsquo;s &ldquo;Music  for a New Century&rdquo; series and <em>Quatre  chants pour franchir le seuil </em>(US Premiere) with Speculum Musicae. With the  Ensemble Sospeso, he has conducted three United States premieres by Wolfgang  Rihm, and two by Tristan Murail.<br>

  <br>
  Mr. Milarsky received his  Bachelor and Master of Music degrees from The Juilliard School.&nbsp; Upon graduation, he was awarded the Peter  Mennin Prize for outstanding leadership and achievement in the arts.&nbsp; He regularly conducts The Juilliard  Orchestra, with whom he has premiered over 150 works of Juilliard student  composers over the past fifteen years.&nbsp;  He is also on the Pre-College Percussion Faculty at Juilliard, and has  been, until recently, Director of the Composition Forum.
<br/>
As an active chamber and orchestral musician, Mr.  Milarsky performs and records regularly with The New York Philharmonic, The  Chamber Music Society of Lincoln Center, The American Composers Orchestra, The  Stamford Symphony and Concordia.&nbsp; He has  recorded extensively for Angel, Bridge, Teldec, Telarc, New World, CRI,  MusicMasters, EMI, Koch, and London records. (September 2007) 
</p>
</div>