<div style="width:700px;">
<table width="170" border="0" align="right" cellpadding="0" cellspacing="0">

          <tr> 
            <td align="right"><div align="right"> 
                <p><%= image_tag "onishi.jpg", :style => "padding: 8px;" %><br>
                  <strong>YOSHIAKI ONISHI</strong><br>
                <span style="font-size:12px;">Associate Conductor &amp; Librarian</span></p>
              </div></td>
            <td align="right">&nbsp; &nbsp; &nbsp;</td>

          </tr>
        </table>
<p>
<b> Yoshiaki Onishi</b> is a laureate of the Gaudeamus Prize 2011 as well as composer and conductor. He is currently in his fourth year as a doctorate candidate in music composition and a teaching fellow at Columbia University in the City of New York.  As a composer, Onishi’s music has been performed worldwide by such ensembles as JACK Quartet, Next Mushroom Promotion, and Nieuw Ensemble. 
<br/><br/> His music has been heard in Europe, Asia, and the United States.  As a conductor he has worked enthusiastically with many young and established composers.  He has conducted various ensembles in New York and beyond, including the Talea Ensemble, the Wet Ink Ensemble, the Iktus Percussion, the Yale Philharmonia, the Next Mushroom Promotion (Japan) and so on, sometimes on very short notice.
<br/><br/>His upcoming conducting engagements include an all-Xenakis concert with Iktus Percussion and Loadbang in April, 2012.
<hr>
<br/> You can visit Yoshiaki on the web at <a href="http://www.yoshionishi.com/">http://www.yoshionishi.com</a>
</p>
</p>
</div>