<div style="width:700px;">
<table width="190" border="0" align="right" cellpadding="0" cellspacing="0">

          <tr> 
            <td align="right"><div align="right"> 
                <p><%= image_tag "rinderknecht_large.jpg", :height => "300px;", :style => "padding:8px;" %><br>
                  <strong>LUKE RINDERKNECHT</strong><br>
                Orchestra Manager</p>
              </div></td>
            <td align="right">&nbsp; &nbsp; &nbsp;</td>

          </tr>
</table>

<p>

<b>Luke Rinderknecht</b>, percussion, is a versatile chamber, Broadway, and orchestral musician.  He has performed in the United States, Australia, Europe, and Korea.  Orchestral appearances include the Metropolitan Opera, Buffalo Philharmonic, Virginia Symphony, Hudson Valley Philharmonic, Juilliard Orchestra, and Verbier Festival Orchestra.  While still in high school, he appeared as soloist with The Cleveland Orchestra in Paul Creston's Marimba Concerto. He performs regularly on Broadway in the pit of Legally Blonde.

This season he has performed with The Knights at the MATA Festival, Newspeak, Festival Chamber Music, AXIOM Ensemble in Elliott Carter's opera What Next?, Ensemble ACJW, and at the Seoul Drum Festival.   Luke is also Chamber Music Manager at The Juilliard School, and Orchestra Manager for the Columbia University Orchestra.  Mr. Rinderknecht received his Master of Music and Bachelor of Music degrees from Juilliard, where he studied with Daniel Druckman, Gordon Gottlieb, and Greg Zuber, and was the 2005 recipient of the Peter Mennin Prize for outstanding achievement and leadership in music.

</p>
</div>