<% content_for :nav do %>
<%= render 'shared/navigation' %>
<% end %>

<% content_for :intro do %>
<p>Audition and General Information for 2011-2012 Season </p>
<% end %>

<% content_for :left do %>
<style>
h3
{
border-bottom: 1px solid #CCCCCC;
margin: 0 0 10px;
}
</style>
<h2>Audition Information</h2>
<small>
<h3>Who May Audition</h3>

 <p>Students and faculty from all Columbia divisions are     invited to audition.</p>


<h3>Audition Dates/Times</h3>
<p>
        Thurs., September 15, 2011 - 12 p.m. ~ 8 p.m.
        Fri., September 16, 2011 - 12 p.m. ~ 8 p.m.
        Sat., September 17, 2011 - 12 p.m. ~ 8 p.m.
</p>

<h3> Place </h3>
<p> Dodge Hall, Rm. 809 </p>

<h3>Audition Requirements</h3>
<p>
1. Short solo of choice. This may be a short piece, or an excerpt of a longer piece.
Select your piece well!  Your chosen piece  should be indicative of your ability to move around your instrument, as well as the quality of your sound. 		
<br/>
2. Sight-reading may be asked from the upcoming season’s repertoire
</p>

<h3>Important Notes</h3>

<p>Advance sign-up is required. You may register for an audition time on the bulletin board next to Room 809 of the Dodge Hall.
All former and current CUO members are required to audition.</p>

<p>Decisions regarding membership are made within the context of the orchestra's current personnel needs, the relationship of the player's ability to the median technical level of the orchestra, and the player's cpmpetency during the audition.  Auditions are mandatory for new and old members of the orchestra. All personnel decisions are made by the Music Director.</p>

<p> As a member of the CUO, one must demonstrate that he or she is able to handle, to a reasonable degree, the repertory that the orchestra is playing.  If the repertory is beyond a student's technical level, then it would be really unfair to ask her/him to try to play music that might be frustrating to both that individual and the group.  The Orchestra's repertory has always included very challenging works, such as Brahms and Mahler Symphonies, Stravinsky ballets, 20th Century works, etc.</p>

<p> The number of wind, brass and percussion openings are determined by the Orchestra's repertory - larger pieces require more players, though not necessarily for each concert.  The usual string complement is 28-32 violins, 8-10 each of violas and cellos, and 6-8 basses.</p>

<p>    Because our orchestra performs very challenging works, players must demonstrate a certain degree of competence and the capacity to handle the repertoire. Auditionees not immediately accepted into the orchestra are encouraged to discuss further options with the Music Director, Professor Jeffrey Milarsky. These can include private lessons, smaller ensembles and chamber music.</p>
</small>
<% end %>

<% content_for :right do %>
<h3 style="border-bottom:0px;">General Information</h3>
<br/>
<small>
<h3>Rehearsal Schedule</h3>
<p>
    Tuesdays, 6:30 p.m. ~ 9:30 p.m. 
    Occasional extra rehearsals : Thursday evenings or Saturdays.
</p>

<h3>Credit Information for Undergraduates</h3>

<p>As the CUO is an official course within the Department of Music,    
undergraduates will receive 2 credits per semester if accepted     into the Orchestra. </p>


<h3>Repertoire of the 2011 - 2012 Season</h3>
<p>
    <h4>Fall 2011:</h4>
        Samuel Barber - <i>First Essay for Orchestra</i><br/>
        Richard Wagner - <i> Vorspiel from Tristan und Isolde</i><br/>
        Johannes Brahms - <i> Symphony No. 2 in D Major</i><br/>
   <br/>
   <h4>Spring 2012:</h4>
        Gustav Mahler - Symphony No. 4<br/>

</p>
<p>
Under the direction of Music Director Jeffrey Milarsky, the Columbia University Orchestra will present yet another year of exciting music making. Join in the exhilaration of orchestral music with the Columbia University Orchestra’s 2011-12 season!
</p>

<h3>Questions?</h3>

<p> For more information, please contact the Executive Director of     the CUO, Luke Rinderknecht, at <a href="mailto:cuoluke@gmail.com"> cuoluke@gmail.com </a>. Or, you can contact the orchestra directly at <a href="mailto:cuo@columbia.edu">  cuo@columbia.edu. </a>
</p>

</small>
<% end %>

<% content_for :footer do %>
	<%= render 'shared/footer' %>
<% end %>
